<h1>Search for a verse</h1>

<!--<form action="/results" method="GET">-->
<form action="/search" method="POST">
    <input type="text" placeholder="Enter the Book" name="book" required></input>
    <input type="text" placeholder="Enter the Chapter" name="chapter" required></input>
    <input type="text" placeholder="Enter the Verses" name="verses" required></input>
    <input type="submit"></input>
</form>