i.icon {
    font-size: 2em;
}

/*Add some space in the container
 but as menu is also has a container,
 so we need to be more specific
*/
.container.main {
    margin-top: 7.0em
}

/*As forms are not inline by default we want to make one inline giving this id*/
#delete {
    display: inline;
}