<!--We include the partials header.ejs -->
<% include partials/header %>

<!--Esto es limitado y siempre envia la misma versión de la página, es estático y no es lo que queremos-->

<h1>This is the home page</h1>
<img src="https://images.pexels.com/photos/33053/dog-young-dog-small-dog-maltese.jpg?auto=compress&cs=tinysrgb&h=350"></img>
<img src="http://www.animalslook.com/media/charming-catsized-fluffy-critters/charming-catsized-fluffy-critters-6.jpg"></img>

<!--We include the partials footer.ejs-->
<% include partials/footer %>