<!DOCTYPE html>
<html>
<head>
    <!--app.css not must be looked in the current directory "href=app.css" but in the root directory "/app.css"
    /app.css means is going to look at that in the "/public" directory 
    If we create other subdirs like "scripts" or "stylesheets" into public we have to reflect that here. Ej:
    href="/stylessheets/app.js"
    src="/scripts/app.js"-->
    <link rel="stylesheet" type="text/css"  href="/app.css">
	<title></title>
</head>
<body>
